
<label> Server Name</label>
  <input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)">
<input
   type="text"
   class="form-control"
   [(ngModel)]="serverName">

<p> {{ serverName }}</p>

<button class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">Add Server</button>

<!-- <p>{{allowNewServer}}</p>-->
<!-- <p [innerText]="allowNewServer"></p>-->

<!-- <p>{{ serverCreationStatus }}</p>-->

<p *ngIf="serverCreated; else noServer">Server was created, Server name is {{serverName}}</p>
<ng-template #noServer>
  <p>No server was created</p>
</ng-template>

<p *ngIf="serverCreated">Server was created, Server name is {{serverName}}</p>
<app-server *ngFor="let server of servers"></app-server>

